<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="apiFetching" value="Fetching APIs in the API Management service..." />
		<add key="apiSelection" value="Select APIs to migrate to a workspace." />
		<add key="workspaceFetching" value="Fetching workspaces in the API Management service..." />
		<add key="workspaceSelection" value="Choose a destination workspace for the selected APIs and their depedencies." />
		<add key="workspaceMissing" value="There are no workspaces in the API Management service." />
		<add key="dependenciesFetching" value="Resolving API dependencies..." />
		<add key="migrationPlanBuilding" value="Constructing the migration plan..." />
		<add key="migrationPlanConfirmation" value="Would you like to execute the migration? Once a migration is executed, you can't undo it." />
		<add key="migrationOnGoing" value="Migrating the selected APIs and their depedencies..." />
		<add key="migrationDone" value="Migration succeeded." />
		<add key="entityToString" value="{type}: {displayName} (resource ID: {id})"/>
		<add key="entityNotSupported" value="{type}: {displayName} has a dependency of type {notSupproted}, which currently isn't supported in workspaces."/>
	</appSettings>
</configuration>
