<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="apiFetching" value="Fetching apis..." />
		<add key="apiSelection" value="Select apis to migrate" />
		<add key="workspaceFetching" value="Fetching workspaces..." />
		<add key="workspaceSelection" value="To which workspace you want to migrate?" />
		<add key="workspaceMissing" value="No workspaces" />
		<add key="dependenciesFetching" value="Fetching dependencies..." />
		<add key="migrationPlanBuilding" value="Building migration plan..." />
		<add key="migrationPlanConfirmation" value="Confirm migration plan?" />
		<add key="migrationOnGoing" value="Migrating..." />
		<add key="migrationDone" value="Migration succesfull" />
		<add key="entityToString" value="{type}: {displayName} ({id})"/>
		<add key="entityNotSupported" value="{type}: {displayName} refers to {notSupproted} entity that is not supported in workspaces."/>
	</appSettings>
</configuration>